body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
	height: 100vh;
	width: 100vw;
	
}
header {
	font-size: 20px;
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,9,121,0.8319445698201156) 100%);
	color: #cccccc;
	height: 75px;

}
#topbar{
	width:60vw;
	margin-left: auto ;
	margin-right: auto ;
	
	font-family: 'Gayathri', sans-serif;
}
nav {
	float: right;

}
nav li {
	display: inline;
	padding-right: 30px;
}

nav li a{
	text-decoration: none;
	color: white;

}

.logo {
	float:left;
	font-size:30px;
	padding-left:20px;
	padding-top:20px;
}

.box{
	margin-top: 1rem;
    padding: 2.5rem;
	width: 50vw;
	margin-left: auto ;
	margin-right: auto ;
	margin-bottom: 1rem;
    height: 100vh;
	border-radius: 0.8rem;
	display: flex;
	justify-content: center;

	background: white;   
}

.blog-body p {
	font-style: italic;
}

.blog-post{
	margin-top:20px;
}
.blog-heading{
	font-size: 36px;
	margin-bottom:2rem;

}

footer{	
	color: white;	
	margin-left: auto ;    
	margin-right: auto ;	
	font-size:16px;	
	min-height: 50px;	
	padding:20px;	
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,9,121,0.8319445698201156) 100%);
}
#footer{	
	width:60%;
	margin: auto ;
	position: relative;
}

@media screen and (max-width: 850px) {
	.box {
		width: 60vw;
		height: 170vh
	}
	header #topbar{
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;

	}

	header #logo {
		
	}

	header nav ul{
		display: flex;
	}

	header nav ul{
		margin-top: -0.2rem;
	}

	.box img {
	 height: auto;
	 width: auto;
	 max-width: 200px;
	 max-height: 200px;
	}
}